{{ define "main" }}
{{ if eq .Type "post" }}
<div class="post container">
    <div style="display: flex; gap: 2rem;">
        <div style="flex: 1;">
            <div class="post-header-section">
                <h1>{{ .Title }}</h1>
                <small role="doc-subtitle">{{ .Description }}</small>
                <p class="post-date">
                    {{ dateFormat (or .Site.Params.dateFormat "January 2, 2006") .Date}}
                    {{ if lt .Date .Lastmod }} | Updated {{ dateFormat .Site.Params.dateFormat .Lastmod }}{{ end }}
                    | {{ partial "reading-time.html" . }}
                </p>
                <ul class="post-tags">
                {{ range .Params.tags }}
                    <li class="post-tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
                </ul>
            </div>

            <div class="post-content">
                {{ .Content }}
                {{ partial "share-buttons.html" . }}
            </div>

            <div class="prev-next">
                {{ if eq .Site.Params.TogglePreviousAndNextButtons "true" }}
                    {{ if or .PrevInSection .NextInSection }}
                        {{ partial "prev-next.html" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>

        {{ if .Params.showTableOfContents }}
        <div class="post-toc" style="order: 2;">
            <div id="toc">
                {{ .TableOfContents }}
            </div>
        </div>
        {{ end }}
    </div>

    {{ if .Site.Params.ShowBackToTopButton }}
        <img id="btt-button" class="arrow-logo" src="{{ "images/up-arrow.svg" | relURL }}" onclick="scrollToTop()" title="Go to top" alt="arrow logo">
    {{ end }}

    {{ if .Site.Params.CustomCommentHTML }}
        <div id="comments">
            {{ .Site.Params.CustomCommentHTML | safeHTML }}
        </div>
    {{ end }}
</div>
{{ end }}
{{ if eq .Type "page" }}
{{ partial "page.html" . }}
{{ end }}
{{ end }}
