.reading-time {
    color: gray;
    font-size: 0.9em;
}

.flex-wrapper {
    display: flex;
    gap: 2rem;
}

.flex-wrapper .post-content {
    flex: 1;
}

.post-toc {
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    min-width: 220px;
    max-width: 300px;
}

@media only screen and (max-width: 820px) {
    .flex-wrapper {
        flex-direction: column;
    }
    .post-toc {
        display: none;
    }
}
